/*************************************************************************************************/
/*  Web del Romanticismo                                                                         */
/*  CSS de Autores románticos                                                                    */
/*  Autor: Francisco Cedillo Serrato                                                             */
/*  Versión 1.0                                                                                  */
/*************************************************************************************************/

/*****************   ESTILO GENERAL **************************************************************/

@font-face {
      font-family: titulos;
      src: url('./../fonts/DancingScript-Bold.ttf'); /*se pueden usar tanto comillas simples como dobles; un . ---> en esta carpeta; dos .. ---> en la carpeta padre*/
}

/***** OJO!!! Para que cuente en el width de cada caja, el borde y el padding ***/
* {box-sizing: border-box;}

body {/*background-color: rgb(172, 235, 187);*/
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.25em;
      background-image: url('../images/manchas_de_tinta_pattern_background.webp');
      /*background-repeat: no-repeat;*/
      /*background-position: ;*/
      background-size: 25%;
     /* background: linear-gradient(to bottom right)*/
     /* padding: 3%;*/}/*al tener un wrapper, ya no necesito este padding*/

#wrapper {
           background-color: rgb(208, 208, 169);
           width: 80%;
           margin: auto;
           padding: 20px;
          /* height: 100vh; obligar a que le alto del wrapper sea el de la ventana*/
}

h1, h2, h3 {font-family: titulos;
            color: rgb(41, 0, 54);
            }

h1 {font-size: 3em;
    text-align: center;
    border: 10px dotted rgb(0, 0, 0);
    border-radius: 50%;
    padding: 15px;}

p {text-align: justify;
   text-indent: 2.5em;}

#espronceda {width: 20%;
            float: left;
            padding: 15px;
            opacity: 0.75;}

#espronceda:hover {opacity: 1;}

.limpiarfloat {clear:both;} /*elimina los desagradables efectos secundarios del float*/

a {text-decoration: none;
  color:  rgb(123, 123, 52)}

a:hover {color: rgb(185, 185, 24)}
/*****************   PARA DAR ESTILO A FONT AWESOME **************************************************************/
.fa-facebook {color: #3B5998;
             }
.fa-twitter {color: #55ACEE;
            }
.fa-instagram {color:  #3F729B;
              }
.fa { font-size: 200% !important; /* utilizarlo como último recurso*/
              }

/*****************   MEDIA QUERIES **************************************************************/
/* tamaño tablet */
@media only screen and (width<=900px){/*todas las excepciones para móvil*/
      #wrapper {width: 90%;} /* se aprovecha más el ancho*/
      #espronceda {width: 50%;} /* se corrige el zoom de la foto*/
}
/* tamaño móvil */
@media only screen and (width<=500px){/*todas las excepciones para móvil*/
      #wrapper {width: 100%;} /*se aprovecha todo el ancho*/
      #espronceda {width: 100%; /*se corrige el tamaño*/
                  padding: 10px 0px;} /*se deja padding donde sea necesario*/
}