/*************************************************************************************************/
/*  Web del Romanticismo   - Estilo de landing page                                                                      */
/*  CSS de Autores románticos                                                                    */
/*  Autor: Francisco Cedillo Serrato                                                             */
/*  Versión 1.0                                                                                  */
/*************************************************************************************************/

/*****************   ESTILO GENERAL **************************************************************/

@font-face {
    font-family: titulos;
    src: url('./../fonts/DancingScript-Bold.ttf'); /*se pueden usar tanto comillas simples como dobles; un . ---> en esta carpeta; dos .. ---> en la carpeta padre*/
}

* {box-sizing: border-box;}    /* del borde hacia dentro todo es caja */

body {
       font-family: 'Ubuntu', sans-serif;
       background-color: rgb(85, 72, 61);
       margin: 0;                            /* por defecto del navegador, anulados */
       padding: 0;
}

#wrapper {
          background-color: white;
          width: 80%;
          margin: auto;
}




/*****************   HERO SECTION : opción 1: imágen + texto **************************************************************/

#hero {
       background-image: url('../images/wanderer-above-the-sea-fog-friedrich.jpg'); /* colo foto de fondo */
       height: 100vh;                                                               /* obligar a que salga entera */
       background-repeat: no-repeat;                                                /* para que no se repita */
       background-size: cover;
       background-position: center;   
       position:relative;                                              /* donde está el elemento principal */
}                                                    /* para que lo cubra por completo */                                                           

#titulo {
          font-family: titulos;
          src: url('./../fonts/DancingScript-Bold.ttf');
          text-align:center;
          width:40%;
          font-size:3rem;
          position:absolute;
          top:30%;
          left:30%;
          background-color: rgba(255, 255, 255, 0.5);
          backdrop-filter: blur(5px);                   /* para aplicar filtro a un color de fondo */
          border-radius: 50%;
}

/***** POSICIONAMIENTO ABSOLUTO Y RELATIVO:
        - Contenedor hero: relative
        -Contenido, texto: absolute */

/***************** HERO SECTION: opción 2: fondo liso y efecto wave ****************************/
#hero2 {
        background-color: #0099ff;      /* mismo color que el getwaves */
        height: 40vh;                     /* alto dimensionado por mi  */
        position:relative;                     
}

#titulo2 {
          position: absolute;  /* ojo al truco  */
          font-size: 4rem;
          font-weight: bold;
          top: 50%;   /* muevo el título a la mitar de alto y de ancho */
          left: 50%;
          /****   necesito mover el texto para que quede enmedio*/
          transform: translate(-50%,-50%);  /* se recoloca en el medio */
          text-align: center;
          color: #FFF;
}

/***************** HERO SECTION: opción 3: con imagen de heikei.app ****************************/ 
#hero3 {
        background-image: url('../images/blob-scene-haikei.svg'); /* colo foto de fondo */
        height: 100vh;                                                               /* obligar a que salga entera */
        background-repeat: no-repeat;                                                /* para que no se repita */
        background-size: cover;
        background-position: center;   
        position:relative;                                              /* donde está el elemento principal */
}                                                    /* para que lo cubra por completo */                                                           

#titulo3 {
          font-family: titulos;
          text-align:center;
          width:40%;
          font-size:3rem;
          position:absolute;
          top:30%;
          left:30%;
          background-color: rgba(255, 255, 255, 0.5);
          backdrop-filter: blur(5px);                   /* para aplicar filtro a un color de fondo */
          border-radius: 50%;
}

/***************** HERO SECTION: opción 4: con video gran formato ****************************/ 
#myVideo {
          position: relative;
          right: 0;
          bottom: 0;
          width: 100%; /*se adapta al espacio que hay exactamente*/
          height: 100%;
}
       /* vamos a poner el título superpuesto sore el vídeo */
#titulo4 {
          position: relative; /* lo muevo hacia arriba */                            
          top: -405px;        /* los dos son relative, independientes */
          height: 200px;
          background: rgba(0, 0, 0, 0.5);
          color: #f1f1f1;
          width: 100%;
          padding: 20px;
} /******* habría que cambiar en la media query el top de posicionamiento */


/*****************   MEDIA QUERIES **************************************************************/

@media only screen and (width<=900px){/*todas las excepciones para móvil*/
    #hero3 {width: 90%;} /* se aprovecha más el ancho*/
    #titulo3 {
              width: 60%;
              left:20%;
             } /* se corrige el zoom de la foto*/
 /*  #titulo4 {
              top: ;
              left: ;
            }*/
}

@media only screen and (width<=600px){/*todas las excepciones para móvil*/
         #hero3 {width: 100%;} /* se aprovecha más el ancho*/
        #titulo3 {
                  width: 80%;
                  left:10%
                 }
}